.pokemon-roster-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 730px) {
    .pokemon-roster-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .pokemon-roster-container{
        grid-template-columns: 1fr;
    }
}