.pokemon-card-container{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
}

.pokemon-name{
    font-weight: bold;
}

.pokemon-move{
    text-transform: uppercase;
}

.type-container{
    display: grid;
    column-gap: 1rem;
    margin-bottom: .5rem;
}

.pokemon-type{
    border-radius: 1rem;
    text-transform: uppercase;
    color: white;
    padding: .25rem;
    font-weight: bold;
}

.loading-card{
    display: grid;
    place-items: center;
    font-weight: bold;
    color: white;
}